# Force Dart to be the primary language
*.dart linguist-language=Dart

# Ignore Makefiles and other non-essential languages from being detected
Makefile linguist-vendored
*.mk linguist-vendored
*.sh linguist-vendored
*.yml linguist-vendored
*.yaml linguist-vendored

# Ignore other files or languages that should not affect the stats
*.js linguist-vendored
*.m linguist-vendored
*.h linguist-vendored
*.swift linguist-vendored
*.html linguist-vendored
*.rb linguist-vendored
*.java linguist-vendored
